@font-face {
    font-family: "Now Bold";
    src: url("./img/Now-Bold-BF6542f7138a8d2.otf");
  }
  
  @font-face {
    font-family: "Now Medium";
    src: url("./img/Now-Medium-BF6542f7137648d.otf");
  }
  
  @font-face {
    font-family: "Now Light";
    src: url("./img/Now-Light-BF6542f7137fce2.otf");
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("./img/Quicksand-VariableFont_wght.ttf");
  }
    
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
  }

  .nav-logo {
    width: 100vw;
    height: 20vh;
    display: flex;
    padding: 0 70px;
    position: fixed;
  }

  .background {
    height: 100vh;
    width: 100vw;
    background: url(img/dox-bg.webp);
    background-size: cover;
  }

  .max-width {
    display: flex;
    
  }

  .left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 70px;
    color: #18415D;
  }

  .left-column > h1 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .left-column > h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .left-column > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 70px;

    font-weight: bold;
    font-size: 25px;
    background-color: #F7CC2F;
    color: #18415D;

    border: none;
    border-radius: 50px;
    margin-bottom: 20px;

    cursor: pointer;

    transition: all 0.3s ease;

  }

  .left-column > a:hover {
    background-color: #ffc800;
    scale: 1.1;
  }

  .left-column > h3 {
    font-weight: lighter;
    font-size: 40px;
  }

  .rigth-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
  }

  .rigth-column > h2 {
    margin-top: 180px;
    font-size: 40px;
    color: #f2f2f2;
    text-shadow: 2px 2px #18415D ;
  }